.row-fluid
  .span10.offset1
    .alert.footer.alert-error
      %p
        %a{href: 'https://guides.rubyonrails.org'}       
          This is a sample Ruby on Rails Application using HAML and Devise Gem
        %strong
          Copyright 2021, <a href="https://github.com/amacariola" target="_blank">Ace Macariola</a>
